.top-course {
    padding-bottom: 50px;
}
.top-course .maintext{
    padding-bottom: 20px;
}
.top-course .maintext p {
    color: #696868;
}

.top-course .maintext h4 {
    color: #28a745;
}

.top-course .slick-slide {
    padding: 0 5px!important;
}
/*  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap');
.top-course .glow{
    font-size: 1.2em;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 10px #14274E, 0 0 5px #14274E;
    color: white;
    margin-bottom: 20px;
}
